#root {
  width: 100%;
  height: 100%;
  #title-div {
    margin-bottom: 10px;
    width: 100%;
  }
  #author-div {
    width: 100%;
    #author {
      color: #606060;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
}
